# General:
*.input

# OS Specific:
.fuse_hidden*
.Trash-*
.nfs*
.DS_Store

# Rubbish:
*.swp
*.tmp
*.log
*.sublime-workspace
*.sublime-project

### Rust ###
**/*.rs.bk
target/
Cargo.lock

### Python ###
__pycache__

### Misc ###
out

### Nix ###
.direnv
